<log4net>
	<root>
		<level value="Debug" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>
	<appender name="console" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date | %property{customproperty} | %level : %message%newline%exception" />
		    <IgnoresException value="False" />
		</layout>
	</appender>
	<appender name="file" type="log4net.Appender.RollingFileAppender">
		<file value="..//..//..//test-execution-logs.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			 <conversionPattern value="%date |  %property{customproperty} | %thread %level : %message%newline%exception" />
		    <IgnoresException value="False" />
		</layout>
	</appender>
</log4net>